@import 'src/styles/_variables.scss';

:local {
  .known-link {
    color: $medium-blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .unknown-link {
    color: $medium-grey;
  }

  .unknown-link-href {
    font-style: italic;
  }
}
