@import 'src/styles/_variables.scss';

:local {
  .container {
    margin: 4px 0;
    a {
      display: inline-block;
      line-height: 1.1;
    }
  }

  .known-link {
    color: $medium-blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .unknown-link {
    color: $medium-grey;
  }

  .unknown-link-href {
    font-style: italic;
  }
}
